In [4]:
import pandas as pd
import os

In [5]:
path = '/home/manoelflorencio/cta_for_jd/testbedXS'
os.chdir(path)
print(os.getcwd())

/home/manoelflorencio/cta_for_jd/testbedXS

In [6]:
groundTruth = pd.read_csv('joinable_columns_gt3_quality.csv')
groundTruth.head()

,ds_name,att_name,sizeDistinct1,ds_name_2,att_name_2,sizeDistinct2,joinSize,trueContainment,trueQuality
0,road-ahead-current-road-closures.csv,COMP_DATE,12,road-ahead-upcoming-projects.csv,COMP_DATE,35,6,0.500000,3.0
1,eo_pr.csv,NTEE_CD,302,eo_xx.csv,NTEE_CD,397,168,0.556291,3.0
2,eo_pr.csv,NAME,1270,eo4.csv,NAME,3097,1270,1.000000,4.0
3,eo_pr.csv,ICO,784,eo4.csv,ICO,2050,784,1.000000,4.0
4,eo_pr.csv,STREET,1266,eo4.csv,STREET,3045,1266,1.000000,4.0

In [9]:
groundTruth.shape

(98, 9)

In [10]:
groundTruth.groupby(['ds_name']).count().iloc[:,:1]

                                              att_name
ds_name
community-centres.csv                                8
community-gardens-and-food-trees.csv                 8
cultural-spaces.csv                                  8
eo4.csv                                              9
eo_pr.csv                                            8
eo_xx.csv                                            8
libraries.csv                                        8
population-census-of-botswana-2011.csv               1
public-art.csv                                      14
rental-standards-current-issues.csv                  8
road-ahead-current-road-closures.csv                 1
schools.csv                                          8
statewise-census-data-in-india-1901-2011.csv         1
street-intersections.csv                             8