In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

%matplotlib inline

In [18]:
pd.set_option('display.max_rows', None)

In [5]:
path = '/home/manoelflorencio/cta_for_jd/testbedXS'
os.chdir(path)
print(os.getcwd())

/home/manoelflorencio/cta_for_jd/testbedXS

In [11]:
groundTruth = pd.read_csv('groundTruth_testbedXS.csv')
groundTruth = groundTruth[groundTruth['trueQuality'] == 4]
groundTruth = groundTruth.reset_index(drop=True)
groundTruth.head()

,ds_name,att_name,sizeDistinct1,ds_name_2,att_name_2,sizeDistinct2,joinSize,trueContainment,trueQuality
0,eo_pr.csv,NAME,1270,eo4.csv,NAME,3097,1270,1.0,4.0
1,eo_pr.csv,ICO,784,eo4.csv,ICO,2050,784,1.0,4.0
2,eo_pr.csv,STREET,1266,eo4.csv,STREET,3045,1266,1.0,4.0
3,eo_pr.csv,CITY,107,eo4.csv,CITY,322,107,1.0,4.0
4,eo_pr.csv,ZIP,1111,eo4.csv,ZIP,1745,1111,1.0,4.0

In [15]:
gt = groundTruth[['ds_name', 'ds_name_2']]
gt = gt.reset_index(drop=True)
gt.head()

                               ds_name                            ds_name_2
0                            eo_pr.csv                              eo4.csv
1                  cultural-spaces.csv             street-intersections.csv
2             street-intersections.csv                  cultural-spaces.csv
3                  cultural-spaces.csv  rental-standards-current-issues.csv
4  rental-standards-current-issues.csv                  cultural-spaces.csv

In [16]:
gt.shape

(61, 2)

In [22]:
new_gt = pd.DataFrame()
for i in range(gt.shape[0]):
    ds1 = gt.iloc[i,0]
    ds2 = gt.iloc[i,1]

    ds_esq, ds_dir = '', ''
    
    if(ds1 < ds2):
        ds_esq, ds_dir = ds1, ds2
    else:
        ds_esq, ds_dir = ds2, ds1
    
    if(len(new_gt) == 0):
        new_gt = pd.DataFrame({'ds_name': [ds_esq], 'ds_name_2': [ds_dir]})
    else:
        new_gt = pd.concat([new_gt, pd.DataFrame({'ds_name': [ds_esq], 'ds_name_2': [ds_dir]})], axis=0)

new_gt = new_gt.drop_duplicates()
new_gt = new_gt.reset_index(drop=True)
print(new_gt.shape)

(31, 2)

In [23]:
new_gt

,ds_name,ds_name_2
0,eo4.csv,eo_pr.csv
1,cultural-spaces.csv,street-intersections.csv
2,cultural-spaces.csv,rental-standards-current-issues.csv
3,cultural-spaces.csv,public-art.csv
4,cultural-spaces.csv,schools.csv
5,community-gardens-and-food-trees.csv,cultural-spaces.csv
6,cultural-spaces.csv,libraries.csv
7,community-centres.csv,cultural-spaces.csv
8,rental-standards-current-issues.csv,street-intersections.csv
9,public-art.csv,street-intersections.csv
10,schools.csv,street-intersections.csv
11,community-gardens-and-food-trees.csv,street-intersections.csv
12,libraries.csv,street-intersections.csv
13,community-centres.csv,street-intersections.csv
14,public-art.csv,rental-standards-current-issues.csv
15,rental-standards-current-issues.csv,schools.csv
16,community-gardens-and-food-trees.csv,rental-standards-current-issues.csv
17,libraries.csv,rental-standards-current-issues.csv
18,community-centres.csv,rental-standards-current-issues.csv
19,public-art.csv,schools.csv
20,community-gardens-and-food-trees.csv,public-art.csv
21,libraries.csv,public-art.csv
22,community-centres.csv,public-art.csv
23,population-census-of-botswana-2011.csv,statewise-census-data-in-india-1901-2011.csv
24,community-gardens-and-food-trees.csv,schools.csv
25,libraries.csv,schools.csv
26,community-centres.csv,schools.csv
27,community-gardens-and-food-trees.csv,libraries.csv
28,community-centres.csv,community-gardens-and-food-trees.csv
29,community-centres.csv,libraries.csv
30,eo4.csv,eo_xx.csv

In [24]:
new_gt.to_csv('Description_test/table_descriptions_test_2025_01_05/joinable_table_groundTruth.csv', index=False)