In [1]:
import pandas as pd
import numpy as np
import json
import os
import glob

In [2]:
pd.set_option('display.max_rows', None)

In [3]:
path = '/home/manoelflorencio/cta_for_jd/testbedXS'
os.chdir(path)
print(os.getcwd())

/home/manoelflorencio/cta_for_jd/testbedXS

In [4]:
jd_df = pd.read_csv('Description_test/table_descriptions_test_2025_01_05/table_cartesians_JD_with_columns_descriptions_v3.csv')
jd_df.head()

,LEFT_TABLE,RIGHT_TABLE,JOINABLE
0,statewise-census-data-in-india-1901-2011.csv,road-ahead-current-road-closures.csv,No
1,statewise-census-data-in-india-1901-2011.csv,property-tie-lines.csv,No
2,statewise-census-data-in-india-1901-2011.csv,public-art.csv,No
3,statewise-census-data-in-india-1901-2011.csv,gvrd-sewer-trunk-mains.csv,No
4,statewise-census-data-in-india-1901-2011.csv,SCS_Staff_Salaries_data_30th_June 2010.csv,No

In [5]:
cta_crossed_columns = pd.read_csv('Description_test/table_descriptions_test_2025_01_05/junio_JD_matches_with_table_descriptions.csv')
cta_crossed_columns.head()

,LEFT_TABLE,LEFT_COLUMN,LEFT_DESCRIPTION,RIGHT_TABLE,RIGHT_COLUMN,RIGHT_DESCRIPTION,JOINABLE,JOINABLE_TD
0,community-centres,ADDRESS,The full postal address of the community garde...,community-gardens-and-food-trees,MERGED_ADDRESS,The ADDRESS column provides the street address...,Yes,Yes
1,community-centres,Geo Local Area,The neighbourhood or broader geographical area...,community-gardens-and-food-trees,Geo Local Area,The Geo Local Area column identifies the gener...,Yes,Yes
2,community-centres,ADDRESS,This column contains the street address of the...,cultural-spaces,ADDRESS,The ADDRESS column provides the street address...,Yes,Yes
3,community-centres,Geo Local Area,This column identifies the local area or neigh...,cultural-spaces,LOCAL_AREA,The Geo Local Area column identifies the gener...,Yes,Yes
4,community-centres,ADDRESS,The street address where the organization is l...,eo_pr,STREET,The ADDRESS column provides the street address...,Yes,No

In [15]:
joinable = []
for i in range(cta_crossed_columns.shape[0]):
    left_table = cta_crossed_columns.iloc[i, 0]
    right_table = cta_crossed_columns.iloc[i, 3]
    j = jd_df[((jd_df['LEFT_TABLE'] == left_table+'.csv') & (jd_df['RIGHT_TABLE'] == right_table+'.csv')) | ((jd_df['LEFT_TABLE'] == right_table+'.csv') & (jd_df['RIGHT_TABLE'] == left_table+'.csv'))].JOINABLE
    joinable.append(j.values[0])

In [16]:
cta_crossed_columns['JOINABLE_TD_v2'] = joinable

In [17]:
cta_crossed_columns.to_csv('Description_test/table_descriptions_test_2025_01_05/junio_JD_matches_joinable_tables.csv', index=False)